.programs {
    background: $primary;
    padding-bottom: 20px;
}

.programs p {
    @include bodyText(white);
    // padding-bottom: 50px;
}

.programs h2 {
    @include h2Text(white, 40px);
}

.programs a {
    @include buttons;
}

.frontImage img {
    box-shadow: 20px 20px $tertiary;
    position: relative;
    top: -35px;
}

.topImage img {
    box-shadow: -20px 20px $tertiary;
    position: relative;
    bottom: -55px;
}


.firstSet,
.secondSet {
    display: flex;
    justify-content: space-between;    
}

.programText {
    width: 600px;
    padding: 60px;
}

.locationText {
    text-align: right;
}

.programWrapper {
    margin: 0 auto;
    max-width: 1700px;
    width: 100%;
}

.programButton {
    position: relative;
    top: 30px;
}


