html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mainHeader {
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/home-header.jpg");
}

.headerText h1 {
  font-family: 'IM Fell English', serif;
  font-size: 79px;
  color: #fdd908;
  text-transform: uppercase;
  -webkit-animation: fadeText ease 1s;
          animation: fadeText ease 1s;
}

@-webkit-keyframes fadeText {
  0% {
    opacity: 0;
    position: relative;
    bottom: 40px;
  }
  100% {
    opacity: 1;
    position: relative;
    bottom: 0px;
  }
}

@keyframes fadeText {
  0% {
    opacity: 0;
    position: relative;
    bottom: 40px;
  }
  100% {
    opacity: 1;
    position: relative;
    bottom: 0px;
  }
}

.traits p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: black;
}

.headerText {
  padding-bottom: 50px;
  padding-left: 70px;
}

.flexParent {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textArea {
  width: 490px;
}

.headWrapper {
  max-width: 1700px;
  margin: 0 auto;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boatPopOut {
  position: relative;
  top: 250px;
  right: 5px;
  width: 900px;
}

.focus {
  border-bottom: 3px solid #fdd908;
}

.boatPopOut {
  -webkit-animation: fadeIn ease 1s;
          animation: fadeIn ease 1s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    right: -50px;
  }
  100% {
    opacity: 1;
    right: 5px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    right: -50px;
  }
  100% {
    opacity: 1;
    right: 5px;
  }
}

a:hover,
nav li:hover {
  -webkit-animation: shake 1s;
          animation: shake 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.mainGallery img {
  background-color: none;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.mainGallery img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

nav {
  padding-top: 50px;
  padding-left: 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  color: white;
  padding: 20px 30px 5px 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 29px;
}

nav ul li a:hover {
  color: black;
}

nav ul li a:active {
  color: white;
}

nav ul li a span {
  padding-bottom: 5px;
}

nav ul li a span:hover {
  border-bottom: 3px solid #fdd908;
}

nav ul li a span:visited {
  border-bottom: 3px solid #fdd908;
}

nav ul li a span:active {
  border-bottom: 3px solid black;
}

.traits {
  background: #eafefc;
}

.traits h2 {
  font-family: 'IM Fell English', serif;
  font-size: 45px;
  color: #0d457f;
  text-transform: uppercase;
  line-height: 99.8px;
}

.wrapper {
  padding-top: 200px;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  padding-bottom: 200px;
}

.mainLogos {
  width: 50px;
  height: 50px;
  color: #0d457f;
  background: #fdd908;
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}

i {
  padding: 5px;
}

.flexParentTwo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.flexParentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs {
  background: #0d457f;
  padding-bottom: 20px;
}

.programs p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: white;
}

.programs h2 {
  font-family: 'IM Fell English', serif;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  line-height: 99.8px;
}

.programs a {
  padding: 5px 15px;
  background-color: #fdd908;
  color: #0d457f;
  font-size: 22.4px;
  line-height: 41.6px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-family: 'IM Fell English', serif;
  text-transform: uppercase;
}

.frontImage img {
  -webkit-box-shadow: 20px 20px #fdd908;
          box-shadow: 20px 20px #fdd908;
  position: relative;
  top: -35px;
}

.topImage img {
  -webkit-box-shadow: -20px 20px #fdd908;
          box-shadow: -20px 20px #fdd908;
  position: relative;
  bottom: -55px;
}

.firstSet,
.secondSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programText {
  width: 600px;
  padding: 60px;
}

.locationText {
  text-align: right;
}

.programWrapper {
  margin: 0 auto;
  max-width: 1700px;
  width: 100%;
}

.programButton {
  position: relative;
  top: 30px;
}

.vacation {
  background: #eafefc;
  padding-bottom: 100px;
}

.vacationWrapper {
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
}

.vacationText h2 {
  font-family: 'IM Fell English', serif;
  font-size: 40px;
  color: #0d457f;
  text-transform: uppercase;
  line-height: 99.8px;
}

.vacationText p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: black;
  padding-bottom: 45px;
}

.vacationText a {
  padding: 5px 15px;
  background-color: #fdd908;
  color: #0d457f;
  font-size: 22.4px;
  line-height: 41.6px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-family: 'IM Fell English', serif;
  text-transform: uppercase;
}

.vacationText {
  text-align: center;
  padding-top: 100px;
}

.backgroundImage img {
  width: 2000px;
}

.win {
  background: #eafefc;
  padding-bottom: 100px;
  padding-top: 100px;
}

.winWrapper {
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.winText h2 {
  font-family: 'IM Fell English', serif;
  font-size: 40px;
  color: #0d457f;
  text-transform: uppercase;
  line-height: 99.8px;
}

.winText p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: black;
}

.winText a {
  padding: 5px 15px;
  background-color: #fdd908;
  color: #0d457f;
  font-size: 22.4px;
  line-height: 41.6px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-family: 'IM Fell English', serif;
  text-transform: uppercase;
}

.winImage img {
  -webkit-box-shadow: -20px 20px #fdd908;
          box-shadow: -20px 20px #fdd908;
  position: relative;
  top: 30px;
}

.winText {
  width: 800px;
}

.winButton {
  margin-top: 20px;
}

.mainGallery {
  background: #0d457f;
  padding-bottom: 100px;
  padding-top: 100px;
}

.galleryWrapper {
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
}

.galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainFooter {
  background: #fdd908;
  text-align: center;
}

.mainFooter p,
.mainFooter a {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: #0d457f;
}

.contactHeader {
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/contact-header.jpg");
}

.contactSection {
  background: #eafefc;
  padding-bottom: 25px;
}

.contactInfo p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: black;
}

.fontsEmail i {
  color: #0d457f;
  padding: 10px;
  font-size: 20px;
}

.fontsEmail i:nth-of-type(1) {
  padding-left: 0px;
}

.fontsEmail {
  padding-bottom: 20px;
}

.touchText h1 {
  font-family: 'IM Fell English', serif;
  font-size: 79px;
  color: white;
  text-transform: uppercase;
}

.focusTwo {
  border-bottom: 3px solid #fdd908;
}

.touchText {
  padding-bottom: 50px;
  padding-left: 70px;
}

.contactFlexTwo {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactText {
  width: 800px;
}

.contactWrapper {
  max-width: 1700px;
  margin: 0 auto;
}

.formWrapper {
  max-width: 1700px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

textarea {
  resize: none;
  width: 83%;
  border: 2px solid #fdd908;
  background: none;
  color: white;
  padding: 20px;
}

input[type=text],
input[type=email] {
  width: 40%;
  background: none;
  border: none;
  border-bottom: 2px solid #fdd908;
  padding: 15px;
  margin-bottom: 40px;
}

input[type=text]:placeholder-shown,
input[type=email]:placeholder-shown {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.contactInfo {
  width: 35%;
  padding: 100px 75px;
}

.contactForm {
  background: #0d457f;
  width: 60%;
  padding-top: 60px;
  padding-bottom: 45px;
  -webkit-box-shadow: 20px 20px #fdd908;
          box-shadow: 20px 20px #fdd908;
  position: relative;
  top: -180px;
}

.wrapperTwo {
  margin: 0 auto;
  text-align: center;
}

input[type=email] {
  margin-left: 20px;
}

input[type=submit] {
  padding: 5px 15px;
  background-color: #fdd908;
  color: #0d457f;
  font-size: 22.4px;
  line-height: 41.6px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-family: 'IM Fell English', serif;
  text-transform: uppercase;
  width: 90%;
  margin-top: 40px;
}

.contactFooter {
  background: #fdd908;
  text-align: center;
}

.contactFooter p,
.contactFooter a {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: #0d457f;
}

.blogHeader {
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/blog-header.jpg");
}

.blogText h1 {
  font-family: 'IM Fell English', serif;
  font-size: 79px;
  color: #fdd908;
  text-transform: uppercase;
}

.focus3 {
  border-bottom: 3px solid #fdd908;
}

.blogText {
  padding-bottom: 50px;
  padding-left: 70px;
}

.blogFlexTwo {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
}

.blogFlex {
  max-width: 1700px;
  margin: 0 auto;
}

.mainBackground {
  background: #eafefc;
}

.blogSection {
  max-width: 1700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogSection aside {
  width: 25%;
}

.blogSection article {
  width: 60%;
  border-left: 7px solid #fdd908;
  border-bottom: 7px solid #fdd908;
}

aside {
  background: #0d457f;
  margin-left: 70px;
  margin-top: 120px;
  height: 850px;
}

.asideImage {
  position: relative;
  left: -30px;
  top: -22px;
}

aside p,
aside li {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: white;
}

aside ul li {
  list-style: inside;
}

aside h2 {
  line-height: 58px;
  letter-spacing: 0.8px;
  font-size: 25px;
  font-family: 'IM Fell English', serif;
  color: #fdd908;
  text-transform: uppercase;
}

.missionText {
  padding: 10px 20px 40px 40px;
}

.recentText {
  padding: 0px 20px 20px 40px;
}

.blogPost h2 {
  font-family: 'IM Fell English', serif;
  font-size: 45px;
  color: #0d457f;
  text-transform: uppercase;
  line-height: 99.8px;
}

.blogPost p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: black;
}

.paragraphSpacing {
  margin-bottom: 20px;
}

.lastSpacing {
  margin-bottom: 0px;
}

.dateSpacing {
  margin-bottom: 30px;
}

.blogPost {
  padding: 20px 100px 0px 100px;
  position: relative;
  bottom: 130px;
}

.articleImage img {
  -webkit-box-shadow: -25px 35px #fdd908;
          box-shadow: -25px 35px #fdd908;
}

.articleImage {
  position: relative;
  left: 25px;
  bottom: 200px;
}

.commentForm textarea {
  resize: none;
  width: 100%;
  border: 2px solid #fdd908;
  background: none;
  color: #0d457f;
  padding: 20px;
}

.commentForm input[type=text],
.commentForm input[type=email] {
  width: 48%;
  background: none;
  border: none;
  border-bottom: 2px solid #fdd908;
  padding: 15px;
  margin-bottom: 40px;
}

.commentForm input[type=text]:placeholder-shown,
.commentForm input[type=email]:placeholder-shown {
  color: #0d457f;
  font-family: 'Roboto', sans-serif;
}

.commentForm {
  width: 100%;
  padding-bottom: 45px;
  position: relative;
}

.commentForm input[type=submit] {
  padding: 5px 15px;
  background-color: #fdd908;
  color: #0d457f;
  font-size: 22.4px;
  line-height: 41.6px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-family: 'IM Fell English', serif;
  text-transform: uppercase;
  background: #0d457f;
  color: #fdd908;
  width: 100%;
  margin-top: 40px;
}

.commentText h2 {
  font-family: 'IM Fell English', serif;
  font-size: 45px;
  color: #0d457f;
  text-transform: uppercase;
  line-height: 99.8px;
}

.commentText p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: black;
}

.commentDate {
  color: #0d457f;
  font-size: 20px;
}

.firstComment,
.secondComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.commentsSection {
  width: 60%;
  margin-top: 50px;
  padding-left: 100px;
  float: right;
  max-width: 1500px;
}

.firstCommentImage,
.secondCommentImage {
  width: 50%;
  padding-top: 9px;
}

@media (max-width: 2000px) {
  .articleImage {
    position: relative;
    left: 0px;
  }
}

@media (max-width: 1411px) {
  .boatPopOut img {
    padding-left: 50px;
  }
}

@media (max-width: 1065px) {
  .flexParent {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .boatPopOut img {
    padding-left: 90px;
  }
  .firstCommentImage,
  .secondCommentImage {
    width: 100%;
  }
}

@media (max-width: 935px) {
  .headWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boatPopOut img {
    width: 500px;
  }
  .boatPopOut {
    top: -150px;
  }
  .flexParentTwo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .firstSet,
  .secondSet {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .winWrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .winImage img {
    top: 0px;
  }
  .winText {
    text-align: center;
  }
  .formWrapper {
    max-width: 950px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactForm {
    width: 100%;
  }
  .contactInfo {
    margin-bottom: 200px;
    text-align: center;
    width: 100%;
  }
  .blogSection {
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogSection aside {
    width: 50%;
  }
  .blogSection article {
    width: 100%;
  }
  .articleImage {
    position: static;
    margin-top: 40px;
  }
  .blogPost {
    position: static;
    padding: 0px;
  }
  .commentsSection {
    width: 100%;
    padding-left: 0px;
  }
  .textFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .textDivide,
  .textDivideTwo {
    margin: 20px;
  }
}

@media (max-width: 840px) {
  .textDivideTwo {
    display: none;
  }
  .blogFlexTwo {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .headerText h1 {
    font-size: 60px;
  }
  .flexParent {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .firstComment,
  .secondComment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .firstCommentImage,
  .secondCommentImage {
    margin-bottom: 30px;
  }
  .commentForm input[type="email"] {
    margin-left: 0px;
  }
}

@media (max-width: 554px) {
  .headWrapper {
    width: 90%;
  }
  .textArea nav {
    padding-left: 0px;
  }
  .boatPopOut {
    right: 100px;
  }
  .headerText {
    padding-left: 0px;
  }
  .contactText ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogFlexTwo ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogFlexTwo {
    width: 100%;
  }
  .blogSection aside {
    width: 100%;
  }
}

@media (max-width: 470px) {
  .headerText h1 {
    font-size: 40px;
  }
  .headerText {
    width: 200px;
  }
  .flexParent nav {
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flexParent nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexParent nav li {
    padding-bottom: 20px;
  }
  .textArea {
    width: 320px;
  }
  .boatPopOut img {
    width: 350px;
  }
  .traits h2 {
    font-size: 30px;
  }
  .flexParentTwo li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .galleryFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .galleryFlex li {
    margin-bottom: 20px;
  }
  .boatPopOut {
    width: 320px;
  }
  .textArea {
    width: 100%;
  }
}

@media (max-width: 385px) {
  .touchText h1 {
    font-size: 60px;
  }
  .missionText p,
  .recentText ul {
    font-size: 12px;
  }
  .blogPost h2 {
    font-size: 40px;
  }
}
